@{
    //Layout = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Contato";
}
<!DOCTYPE html>


<form method="post" action="/contato/recebercontato">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" name="nome" value="@ViewBag.Contato.Nome" class="form-control" id="nome" placeholder="Digite o seu nome">
        @Html.ValidationMessage("nome")
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" name="email" value="@ViewBag.Contato.Email" class="form-control" id="email" placeholder="Digite o seu E-mail">
        @Html.ValidationMessage("email")
    </div>
    <div class="mb-3">
        <label for="assunto" class="form-label">Assunto</label>
        <input type="text" name="assunto" value="@ViewBag.Contato.Assunto" class="form-control" id="assunto" placeholder="Digite o assunto">
        @Html.ValidationMessage("assunto")
    </div>
    <div class="mb-3">
        <label for="mensagem" class="form-label">Mensagem</label>
        <textarea type="text" name="mensagem" class="form-control" id="mensagem">@ViewBag.Contato.Mensagem</textarea>
        @Html.ValidationMessage("mensagem")
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@ViewBag.Mensagem